# Since repo will be mounted to container, can ignore almost everything...
*
# ...except for local helper package installed during build...
!/code/analysis-helpers/
# ... and the directory containing the conda & Jupyter config files.
!/docker/