[submodule "exp/static/lib/jsPsych"]
	path = exp/static/lib/jsPsych
	url = https://github.com/paxtonfitzpatrick/jsPsych.git
[submodule "paper/CDL-bibliography"]
	path = paper/CDL-bibliography
	url = https://github.com/ContextLab/CDL-bibliography.git
