*.DS_Store
*.db
*.log
*.aux
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi
*.out
*.ipynb_checkpoints
*.pyc
*#*
*.ai
*.joblib
*.key
credentials.json
data/db/
data/google-form-data
data/audio/
data/pickles/participant_models.p
data/pickles/neurosynth_dataset.p
data/brains/HuthModelWeights.npy
data/brains/neurosynth_decoder.joblib
data/brains/*/rec_events/
data/brains/*/pres_events/
code/neurosynth/
code/pycortex/
Paper/figures/*rast.pdf